<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Application PDD</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>

<h1>Bienvenue dans l'application PDD (Pain Driven Development) !</h1>

<p>
    Ici, nous avons des absurdités comme :
<ul>
    <li><a href="/random-endpoint-name/something">Quelque chose d'absurde</a></li>
    <li><a href="/random-endpoint-name/another">Encore une absurdité</a></li>
    <li><a href="/random-endpoint-name/throw-error">Provoquer une erreur</a></li>
    <li><a href="/random-endpoint-name/random-response">Réponse aléatoire</a></li>
    <li><a href="/random-endpoint-name/convert/123">Conversion exagérée</a></li>
    <li><a href="/random-endpoint-name/rate-limit">Limiter le taux</a></li>
    <li><a href="/random-endpoint-name/cache?key=foo&value=bar">Mise en cache inutile</a></li>
</ul>
</p>

</body>
</html>
